@tailwind base;
@tailwind components;
@tailwind utilities;

#movie-backdrop {
  width: 100%;
}

body {
  background-color: rgb(92, 88, 88);
}

.container {
  background-color: rgb(92, 88, 88);
}

#actors {
  margin: 24px 16px 0 0;
}
