@tailwind base;
@tailwind components;
@tailwind utilities;

#movie-backdrop {
  width: 100%;
}

body {
  background-color: rgb(34, 34, 34);
  align-items: center;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 32px;
}

#actors {
  margin: 24px 16px 0 0;
}

/* Dalia's CSS */
h3,
h2 {
  color: #ecb365;
}

#movie-release-date,
#movie-runtime {
  color: #064663;
}

i {
  color: whitesmoke;
  font-style: normal;
}

h1 {
  color: #ecb365;
  text-align: center;
}

.company-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  margin: 50px 0;
}

img {
  border-radius: 15px;
}

li,
#actors {
  list-style-type: none;
  cursor: pointer;
}

#trailer {
  background-color: #ecb365;
  padding: 10px;
  border-radius: 10px;
}

#filmography {
  margin: 0 50px 30px 50px;
}

input::placeholder {
  color: grey;
}

/* Mira's CSS */
/* Mouse pointer styles */
main:hover {
  cursor: pointer;
}
.navbar .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.navbar .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.navbar .dropdown:hover .dropdown-content {
  display: block;
}

.navbar > li:hover {
  color: #22a39f;
}
